<style type="text/css">
    .address_info .form-tips{ margin-top: -17px!important;}
    .lh26{ line-height: 26px!important;}
</style>

<section id="container"  ng-controller="UpdateItemCtrl">
    <div ng-include="'tpls/header.html'" ></div>
    <div ng-include="'tpls/menu.html'" ></div>
    <section id="main-content" >

        <h1 ng-bind="'ITEM.UPDATE_ITEM' | translate"></h1>
        <div class="base-box" >
            <form class="form-horizontal form-validate" method="get" name="updateForm" novalidate ng-submit="submitForm(updateForm)" dirty-form="">
                <h2 ng-bind="'ITEM.COMMON_ATTRIBUTES' | translate"></h2>
                <!--ITEM COMMON_ATTRIBUTES-->
                <div class="ipt-item flexbox">
                    <div class="fex1 mr50">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.CUSTOMER_MODEL' | translate"></label>
                            <input type="text" ng-model="customer_model" requied class="form-control fex1" readonly>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.PRODUCT/SP_CODE' | translate"></label>
                            <select select2="" ng-model="pro_code" class="form-control" id="sr_type" name="sr_type" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)" not-allow>
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="ipt-item flexbox">
                    <div class="fex1 mr50">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.ITEM_NUMBER' | translate"></label>
                            <input type="text" ng-model="item_number" class="form-control fex1" not-allow>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.ITEM_STATUS' | translate"></label>
                            <select select2="" ng-model="item_status" class="form-control" id="item_status" name="item_status" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)">
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="ipt-item flexbox">
                    <div class="fex1 mr50">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.ITEM_DESCRIPTION' | translate"></label>
                            <input type="text" ng-model="description" requied class="form-control fex1">
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.UOM' | translate"></label>
                            <select select2="" ng-model="uom" class="form-control" id="uom" name="uom" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)" not-allow="">
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="ipt-item flexbox">
                    <div class="fex1 mr50">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.ITEM_TYPE' | translate"></label>
                            <select select2="" ng-model="item_type" class="form-control" id="type" name="type" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)">
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.SERIAL_GENERATION' | translate"></label>
                            <select select2="" ng-model="serial" class="form-control" id="serial" name="serial" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)" not-allow="">
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--ITEM SERVICE_ATTRIBUTES-->
                <h2 > <span ng-bind="'ITEM.SERVICE_ATTRIBUTES' | translate"></span></h2>
                <div class="ipt-item flexbox">
                    <div class="fex1 mr50" style="height: 26px;">
                        <div class="flexbox mr-l">
                            <input type="checkbox" value="" class=""><span ng-bind="'ITEM.ENABLE_SERVICE_REQUEST' | translate" class="pt3 ml3"></span>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <input type="checkbox" value="" class=""><span ng-bind="'ITEM.TRACK_IN_INSTALLED_BASE' | translate" class="pt3 ml3"></span>
                        </div>
                    </div>
                </div>

                <div class="ipt-item flexbox">
                    <div class="fex1 mr50" style="height: 26px;">
                        <div class="flexbox mr-l">
                            <input type="checkbox" value="" class=""><span ng-bind="'ITEM.ENABLE_CONTRACT_COVERAGE' | translate" class="pt3 ml3"></span>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <input type="checkbox" value="" class=""><span ng-bind="'ITEM.ENABLE_SERVICE_BILLING' | translate" class="pt3 ml3"></span>
                        </div>
                    </div>
                </div>

                <div class="ipt-item flexbox">
                    <div class="fex1 mr50">
                        <div class="flexbox mr-l" style="height: 26px;">
                            <input type="checkbox" value="" class=""><span ng-bind="'ITEM.ENABLE_DEFECT_TRACKING' | translate" class="pt3 ml3"></span>
                        </div>
                    </div>
                    <div class="fex1">
                        <div class="flexbox mr-l">
                            <label ng-bind="'ITEM.BILLING_TYPE' | translate"></label>
                            <select select2="" ng-model="billing_type" class="form-control" id="billing_type" name="billing_type" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                    ng-change="sr_type(sr_type_item)">
                                <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <!--Address Information-->
                <div class="pos-relative mt20">
                    <h2 style="margin-bottom: 0;" ng-bind="'ITEM.ADDITIONAL_INFORMATION' | translate"></h2>
                </div>

                <div class=" ml15 mr15">
                    <table id="parts-table" style="width: 600px;"
                           class="table table-striped table-bordered table-hover text-center table-search table-condensed">
                        <tr role="row" class="active">
                            <th class="sorting id" role="columnheader" style="width: 330px;"><span
                                    ng-bind="'ITEM.CATEGORY_SET' | translate"></span></th>
                            <th class="sorting su" role="columnheader"><span
                                    ng-bind="'ITEM.CATEGORY_VALUE' | translate"></span></th>
                        </tr>
                        <tr class="trtd">
                            <td>
                                <ng-form name="nform">
                                    <div class="ipt-item" style="padding: 0">
                                        <div class="fex1 zz">
                                            <div class="flexbox zz">
                                                <i class="icon-search add-btn icon-color"
                                                   ng-click="itemLov(1,$index)"></i>
                                                {{lov}}
                                                <input type="text" ng-model="$parent.arr[$index].item_number"
                                                       name="item_number"
                                                       class="form-control fex1 ng-isolate-scope ng-pristine ng-valid notAllow"
                                                       select3=""
                                                       not-allow="" readonly="readonly" required
                                                       ng-class="{'bd-red':submitted && nform.item_number.$invalid}">
                                            </div>
                                        </div>
                                    </div>
                                </ng-form>
                            </td>
                            <td>
                                <ng-form name="qform">
                                    <select select2="" ng-model="serial" class="form-control" id="" name="" required  ng-class="{'bd-red':submitted && sr_form.sr_type.$invalid}"
                                            ng-change="sr_type(sr_type_item)">
                                        <option value="{{item.type_id}}" ng-repeat="item in srData.sr_type">{{item.type_name}}
                                        </option>
                                    </select>
                                </ng-form>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="footer-btn mt10">
                    <div class="flexbox mt20">
                        <div class="fex1 text-right ">
                            <button type="submit" class="btn btn-large btn-primary mr5 fts16"  ng-disabled="cmDetail.update_flag=='N'">
                                <span ng-bind="'PUBLIC.Submit' | translate"></span>
                            </button>
                            <button type="button" class="btn  btn-default mr100 mr35-media" style="margin-right: 120px;"  back-button>
                                <span ng-bind="'PUBLIC.Cancel' | translate" ng-bind="'PUBLIC.Cancel' | translate"></span>
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </section>
</section>
