body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:665px;
  height:353px;
}
#u0 {
  position:absolute;
  left:23px;
  top:31px;
  width:665px;
  height:353px;
}
#u1 {
  position:absolute;
  left:2px;
  top:168px;
  width:661px;
  visibility:hidden;
  word-wrap:break-word;
}
