<style>
.dialog-mes h2{ font-size: 18px; text-align: center;color:#797979}
.dialog-mes a{  margin-left: 10px}
</style>

        <div class="dialog-mes">
<h2>{{message}}</h2>
        <div style="margin-top: 30px">
<a class="btn btn-success" ui-sref="FUNCTIOIN_VIETNAME12" ng-click="closeThisDialog(0)" ng-bind="'SR.LOV.Create SR' | translate"></a>
<a  class="btn btn-success" ui-sref="FUNCTIOIN_VIETNAME11" ng-click="closeThisDialog(0)" ng-bind="'customer.CustomerSummary' | translate"></a>
<a  class="btn btn-success" ui-sref="FUNCTIOIN_VIETNAME10" ng-click="closeThisDialog(0)" ng-bind="'customer.CreateCustomer' | translate"></a>
        </div>
        </div>