<div id="container" ng-class="{'sidebar-closed':isclose}" ng-controller="ServiceSummaryCtrl">
    <div ng-include="'tpls/header.html'"></div>
    <div ng-include="'tpls/menu.html'"></div>
    <div id="main-content">
        <h1  ng-bind="'SR.SummaryTitle' | translate"></h1>
        <div class="base-box base-box-search">
            <div class="ipt-item flexbox">
                <div class="fex1 mr50">
                    <div class="flexbox mr-l">
                        <label ng-bind="'SR.SR_Number' | translate"></label>
                        <input id="sr_number" type="text" ng-keypress="enter($event)"  ng-model="sr_number" ng-change="saveCustomerName()" class="form-control fex1">
                    </div>
                </div>

                <div class="fex1">
                    <div class="flexbox mr50">
                        <label><span ng-bind="'SR.RequestType' | translate"></span></label>
                        <select  select2="" class="form-control mb15-1024" ng-model="sr_type" ng-keypress="enter($event)"  get-focus="">
                            <option value=" "></option>
                            <option ng-repeat="item in srData.sr_type" value="{{item.type_id}}">{{item.type_name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="ipt-item flexbox">
                <div class="fex1 mr50">
                    <div class="flexbox mr-l">
                        <label ng-bind="'SR.Summary' | translate"></label>
                        <input type="text" ng-model="subject" class="form-control fex1" ng-keypress="enter($event)" >
                    </div>
                </div>
                <div class="fex1">
                    <div class="flexbox mr50">
                        <label ng-bind="'SR.Status' | translate "></label>
                        <input type="text" ng-model="sr_status" class="form-control fex1" ng-keypress="enter($event)" >
                    </div>
                </div>
            </div>

            <div class="ipt-item flexbox">
                <div class="fex1 mr50">
                    <div class="flexbox mr-l">
                        <label ng-bind="'customer.CustomerName' | translate"></label>
                        <i class="icon-search add-btn icon-color" ng-click="namelov(1)"></i>
                        <i class="icon-remove-sign icon-color"></i>
                        <input  type="text" name="customer_name" ng-model="customer_name"  class="form-control fex1" select3 not-allow>
                    </div>
                </div>
                <div class="fex1">
                    <div class="flexbox mr50">
                        <label ng-bind="'customer.Phone2' | translate"></label>
                        <input type="text" ng-model="phone" class="form-control fex1" ng-keypress="enter($event)" >
                    </div>
                </div>
            </div>
            <div class="ipt-item flexbox">
                <div class="fex1 mr50">
                    <div class="flexbox mr-l">
                        <label ng-bind="'SR.Item' | translate"></label>
                        <i class="icon-search add-btn icon-color" ng-click="itemLov(1)"></i>
                        <i class="icon-remove-sign icon-color" ng-click="inventory_item_id=''"></i>
                        <input type="text" class="form-control" ng-model="item_number" readonly select3="" ng-keypress="enter($event)"  get-focus=""  ng-change="item_desc='';category_set_id='';category=''">
                        <input type="hidden" class="form-control" readonly ng-model="inventory_item_id" name="inventory_item_id" >
                    </div>
                </div>
                <div class="fex1">
                    <div class="flexbox mr50">
                        <label ng-bind="'IB.SerialNumber' | translate"></label>
                        <input type="text" ng-model="serial_number" class="form-control fex1" ng-keypress="enter($event)" >
                    </div>
                </div>
            </div>
            <div class="text-right mr15">
                <button type="button" id="sub" class="btn btn-primary" ng-click="DoCtrlPagingAct(1)"><span ng-bind="'PUBLIC.Search' | translate"></span>
                </button>
                <button type="button" class="btn btn-default btn-small mr50" ng-click="reset()">
                    <span ng-bind="'PUBLIC.Reset' | translate"></span></button>
            </div>


        </div>
            <div class="ml15 mr15" ng-show="totalPage>0" >
                <table class="table table-striped table-bordered table-hover text-center data-list table-search table-condensed table-summary" ng-show="!loadingFlag">

                    <tr role="row">
                        <th ng-bind="'SR.Action' | translate" style="width: 60px">

                        </th>
                        <th ng-bind="'SR.SrNumber' | translate" style="width: 80px">

                        </th>
                        <th ng-bind="'SR.RequestType' | translate">

                        </th>
                        <th ng-bind="'SR.Status' | translate" style="width:80px;">

                        </th>
                        <th ng-bind="'SR.Item' | translate" style="width:140px;">

                        </th>
                        <th ng-bind="'SR.ItemDesc' | translate" style="width: 200px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">

                        </th>
                        <th  ng-bind="'SR.Owner' | translate">

                        </th>
                        <th  ng-bind="'SR.Subject' | translate">

                        </th>
                        <th  ng-bind="'SR.ReportDate' | translate">

                        </th>
                        <th  ng-bind="'SR.ClosedDate' | translate">

                        </th>
                    </tr>

                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <tr ng-repeat=" item in summaryList" class="sr-height">
                        <td class=" sorting_1" style="width: 100px">
                            <a ui-sref="sr_update({sr_id:'{{item.incident_id | urlFilter}}',scrollFlag:'2'})">
                                <i class="icon-edit"></i>
                            </a>
                        </td>
                        <td title="{{item.sr_number}}" style="width: 80px">

                            <div ng-bind="item.sr_number">

                            </div>
                        </td>
                        <td title="{{item.sr_type}}" style="height:40px; line-height:30px;">
                            <div ng-bind="item.sr_type" class="text-left ">

                            </div>

                        </td>
                        <td class=" " title="{{item.sr_status}}" >
                            <div ng-bind="item.sr_status" class="text-left ">

                            </div>

                        </td>
                        <td title="{{item.sr_item}}" >
                            <div ng-bind="item.sr_item" class="text-left" ></div>

                        </td>
                        <td title="{{item.sr_item_desc}}">
                            <div ng-bind="item.sr_item_desc" class="text-left">

                            </div>

                        </td>
                        <td class=" " title="{{item.sr_owner}}" >
                            <div ng-bind="item.sr_owner" class="text-left">

                            </div>

                        </td>
                        <td title="{{item.sr_subject}}">
                            <div ng-bind="item.sr_subject">


                            </div>

                        </td>
                        <td title="{{item.sr_report_date}}">
                            <div  ng-bind="item.sr_report_date">


                            </div>

                        </td>
                        <td title="{{item.sr_close_date}}" >
                            <div ng-bind="item.sr_close_date">


                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="btn-row ml15 text-center page-list" ng-show="!loadingFlag">
                    <div paging page="currentPage" page-size="10" total="totalPage*10" show-prev-next="{{showPrevNext}}"
                         paging-action="DoCtrlPagingAct(page)">
                    </div>
                </div>

        </div>
        <!--无数据提示-->
        <div class="emptyData" ng-if="emptyData&&summaryList.length==0">No results found. </div>
    </div>
</div>
